target
pom.xml.versionsBackup
pom.xml.releaseBackup
/libs/app-container/src/main/resources/felix/datastore/shop-admin/nbproject/private/
nb-configuration.xml
.idea
*.iml
bin
.settings
.metadata
.project
.flattened-pom.xml
pom.xml.bak
*.bak
.DS_Store